html, body 
{
	height: 99%;
}

#container
{
	position: relative;
	min-height: 100%;
}
#footer
{
	position: absolute;
	bottom:0;
}

#style1 
{
	text-align: center;
}

.account {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #333333;
}