<em *ngIf="!messages">Select a container</em>

<table class="ui blue table" *ngIf="messages">
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th>
				<div style="display:flex" class="ui input">
					<input type="text" placeholder="New message">
					<button title="Add message" type="button" (click)="addMessage()">Add Message</button>
				</div>
			</th>
	</thead>
	<tbody>
		<tr *ngFor="let message of messages">
			<td class="collapsing">
				<button title="Remove message" class="ui icon button" (click)="removeMessage($event)">
					<i class="trash icon"></i>
				</button>
			</td>
			<td>
			</td>
			<td colspan="2">{{ message }}</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th colspan="2">{{ messages.length }} messages queued</th>
			<th></th>
			<th></th>
		</tr>
	</tfoot>
</table>