<div *ngIf="loading" class="ui active text centered inline loader">
	<em>Fetching data from {{ queue }}...</em>
</div>


<table class="ui blue table" *ngIf="messages">
	<thead>
		<tr>
			<th colspan="2">
				<div style="display:flex" class="ui input">
					<input #newMessage type="text" placeholder="New message" (keyup)="typingMessage($event)">
					<button title="Add message" type="button" (click)="addMessage()">Add Message</button>
				</div>
			</th>
	</thead>
	<tbody>
		<tr *ngFor="let message of messages">
			<td class="collapsing">
				<button title="Remove message" class="ui icon button" (click)="removeMessage($event)">
					<i class="trash icon"></i>
				</button>
			</td>
			<td>{{ message }}</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th colspan="2">{{ messages.length }} messages queued</th>
		</tr>
	</tfoot>
</table>