bin/
obj/
.svn/
.vs/
.vscode/

PublishProfiles/
packages/
**/node_modules/
**/ClientApp/dist/
**/wwwroot/dist/
!**/**/wwwroot/dist/azurewebexplorer.css
**/Properties/launchSettings.json

*.user
*.suo
private*.data

publish.bat

npm-shrinkwrap.json
