

<p></p>

<div class="ui action input">
	<input #newShareName type="text" placeholder="New share...">
	<button class="ui icon button" (click)="newShare($event)">
		<i class="add icon"></i>
	</button>
</div>

<p></p>

<em *ngIf="!shares">Loading share files...</em>

<div *ngIf="shares" class="parent">

	<div #containersMenu class="child ui vertical pointing menu">

		<a class="link item" *ngFor="let share of shares" (click)="containerChanged($event)">{{share}}</a>
	</div>

	<files class="child" style="padding-left:20px" [share]="selectedShare" (refresh)="forceRefresh($event)"></files>

</div>

<div *ngIf="hasErrors" class="ui negative message errorMessage">
	<div class="header">{{ errorMessage }}</div>
</div>