<?xml version="1.0"?>
<configuration>
	<system.diagnostics>
		<trace>
			<listeners>
				<!--
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
		
          <filter type=""/>
        </add>
      -->
			</listeners>
		</trace>
	</system.diagnostics>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0"/>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
    
    -->
		<customErrors mode="On" defaultRedirect="Error.aspx" redirectMode="ResponseRewrite">
			<error statusCode="404" redirect="404.aspx"/>
		</customErrors>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<!--
    <httpErrors>
      <error statusCode="404" responseMode="ExecuteURL" path="404.aspx" />
    </httpErrors>
    -->
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="1004857600"/>
			</requestFiltering>
		</security>
		<rewrite>
			<rules>
				<rule name="Force HTTPS" enabled="true">
					<match url="(.*)" ignoreCase="false" />
					<conditions>
						<add input="{HTTPS}" pattern="off" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
				</rule>
			</rules>
		</rewrite>

	</system.webServer>
</configuration>