<div *ngIf="loading" class="ui active text centered inline loader">
	<em>Fetching data from {{ storageTable }}...</em>
</div>

<table class="ui blue table" *ngIf="data">
	<thead>
		<tr>
			<th>
				<button class="ui icon button" (click)="removeTable($event)">
					<i class="trash icon"></i>
				</button>
			</th>
			<th *ngFor="let h of headers">{{ h }}</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let row of rows">
			<td>
				<button class="ui icon button" (click)="removeRow($event)">
					<i class="trash icon"></i>
				</button>
			</td>
			<td *ngFor="let h of headers">
				{{ row[h] }}
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th>{{ rows.length }} rows found</th>
		</tr>
	</tfoot>
</table>
