@page
@model WebStorageExplorer.Pages.BlobsModel
@{
	ViewData["Title"] = "Blobs";
	Layout = "~/Pages/_Layout.cshtml";
}

<h2>Blobs</h2>

<table>
	<thead>
		<tr>
			<th>Containers</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var container in Model.Containers)
		{
		<tr>
			<td>@container.Name</td>
			<td>
				<button type="submit" asp-page-handler="view"
						asp-route-id="@container.Name">
					view
				</button>
			</td>

		</tr>
		}
	</tbody>
</table>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}