@page "/containers"

@using StorageLibrary.Common;
@inherits web.Pages.BaseComponent

<BaseComponent Selected="Containers"/>

<p></p>

<div class="ui action input">
	<input @bind="NewContainerName" type="text" placeholder="New container...">
	<button class="ui icon button" @onclick="NewContainer">
		<i class="add icon"></i>
	</button>
</div>
<div class="ui checkbox">
	<input @bind="PublicAccess" style="margin:0;" name="containerAccess" type="checkbox" placeholder="Public Access?" />
	<label>Set as public</label>
</div>

<p></p>

@if (Loading)
{
	<em>Loading containers...</em>
}
else 
{
	<div class="parent">

		<div class="child ui vertical pointing menu">
			@foreach(CloudBlobContainerWrapper container in AzureContainers)
			{
				<a class="item" @onclick="@(e => SelectedChanged(e, container.Name))">@container.Name</a>
			}
		</div>

		<div class="child" style="padding-left:20px">
			<Blobs CurrentContainer="@SelectedContainer" />
		</div>

	</div>
}
