@page "/"
@page "/login"

<ForkMe/>

<h1 class="azure parent">Azure Storage web explorer</h1>
<p></p>
<div class="parent">
	<div class="child ui card">
		<div class="content">
			<div class="header">Sign in</div>
			<div class="meta">Sign in with your Azure Key or Shared Access Signature</div>
			<div class="description">
				<div class="ui left icon input">
					<input @bind="AzureAccount" type="text" placeholder="Azure account" @onkeyup="NavigateOnEnter">
					<i class="user icon"></i>
				</div>
				<p></p>
				<div class="ui left icon input">
					<input @bind="AzureKey" type="password" placeholder="Key or SAS" @onkeyup="NavigateOnEnter">
					<i class="key icon"></i>
				</div>
				<p></p>
				<div class="ui left icon input">
					<input @bind="AzureUrl" type="url" placeholder="Endpoint Url" @onkeyup="NavigateOnEnter">
					<i class="linkify icon"></i>
				</div>
				<p></p>
				<button class="ui active button" @onclick="SignIn">
					<i class="sign-in icon"></i>
					Login
				</button>

				@if (ShowError)
				{
					<div class="ui left pointing red basic label">Invalid account or key</div>
				}
			</div>
		</div>
	</div>
</div>
<Version/>

@if (Loading)
{
		<div class="ui active text centered inline loader">
		</div>
}
