<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Azure Web Storage Explorer</title>
    <base href="~/" />
	<link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/azurewebexplorer.css" asp-append-version="true" />

	<link rel="stylesheet" type="text/css" href="~/dist/semantic.min.css">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"
			integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			crossorigin="anonymous"></script>
	<script src="~/dist/semantic.min.js"></script>

</head>
<body>

    @RenderBody()

    @RenderSection("scripts", required: false)

</body>
</html>
