
<div *ngIf="loading" class="ui active text centered inline loader">
	<em>Fetching data from {{ share }}...</em>
</div>

<table class="ui blue table" *ngIf="showTable">
	<thead>
		<tr>
			<th>
				<button *ngIf="folder" class="ui icon button" (click)="levelUp()">
					<i class="glyphicon glyphicon-level-up"></i>
				</button>
			</th>
			<th>{{ folder }}</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let file of files">
			<td *ngIf="file.isDirectory" (click)="setFolder($event)" colspan="1">
				<span class='glyphicon glyphicon-folder-close'></span>
			</td>
			<td *ngIf="!file.isDirectory" colspan="1">
				<span class='glyphicon glyphicon-file'></span>
			</td>
			<td>
				<div>{{ file.name }}</div>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th colspan="2">{{ files.length }} files found</th>
		</tr>
	</tfoot>
</table>

<div *ngIf="hasErrors" class="ui negative message errorMessage">
	<div class="header">{{ errorMessage }}</div>
</div>